Options -MultiViews

RewriteEngine On


RewriteBase /jkuat_app/modules/JkuatApp-helpInfo/jkuatapp-HelpInfo

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
 
